---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[操作方法:]テスト結果を公開して分析しますか? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System を使用すると、プロジェクトの進行に応じてプロジェクトのコード品質の変更をグラフ化できます。 このビデオでは、publ の手順について説明します。
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520876"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[操作方法:]テスト結果を公開して分析しますか?

[Chris](https://twitter.com/CMenegay)

Visual Studio Team System を使用すると、プロジェクトの進行に応じてプロジェクトのコード品質の変更をグラフ化できます。 このビデオでは、Team Foundation Server プロジェクトデータベースにテスト結果を発行し、結果をビルド番号に関連付ける方法について説明します。 結果が発行された後、レポートマネージャーを使用して、ビルドテスト結果の変更をグラフィカルに表示できます。

[&#9654;ビデオを見る (7 分)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [前へ](how-do-i-use-generic-tests.md)
> [次へ](how-do-i-discover-application-changes-prior-to-deployment.md)
