---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[操作方法:]テスト結果を公開して分析しますか? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System を使用すると、プロジェクトの進行に応じてプロジェクトのコード品質の変更をグラフ化できます。 このビデオでは、publ の手順について説明します。
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: ja-JP
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520876"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="85dee-105">[操作方法:]テスト結果を公開して分析しますか?</span><span class="sxs-lookup"><span data-stu-id="85dee-105">[How Do I:] Publish and Analyze Test Results?</span></span>

<span data-ttu-id="85dee-106">[Chris](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="85dee-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="85dee-107">Visual Studio Team System を使用すると、プロジェクトの進行に応じてプロジェクトのコード品質の変更をグラフ化できます。</span><span class="sxs-lookup"><span data-stu-id="85dee-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="85dee-108">このビデオでは、Team Foundation Server プロジェクトデータベースにテスト結果を発行し、結果をビルド番号に関連付ける方法について説明します。</span><span class="sxs-lookup"><span data-stu-id="85dee-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="85dee-109">結果が発行された後、レポートマネージャーを使用して、ビルドテスト結果の変更をグラフィカルに表示できます。</span><span class="sxs-lookup"><span data-stu-id="85dee-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="85dee-110">&#9654;ビデオを見る (7 分)</span><span class="sxs-lookup"><span data-stu-id="85dee-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="85dee-111">[前へ](how-do-i-use-generic-tests.md)
> [次へ](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="85dee-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
